@font-face {
    font-family: Didact Gothic;
    src: url(../fonts/DidactGothic.ttf);
}

header {
    color: white;
}

body {
    background-image: url(../img/space-background.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    font-family: Didact Gothic;
}

div {
    font-size: 30px;
    color: white;
    text-align: center;
}

.linkback {
    float: right;
    padding-right: 200px;
    padding-bottom: 50px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.linkback:hover {
    color: rgba(69, 69, 69, .9)
}

    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}
h1 {
    text-align: center;
}