@font-face {
    font-family: Didact Gothic;
    src: url(../fonts/DidactGothic.ttf);
}

body {
    background-image: url(../img/face-bg.jpg);
    background-repeat: repeat-y;
    color: white;
    font-family: Didact Gothic;
    text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
}

img {
    border: 15px solid black;
}

}

main {
    display: inline-block;
}

.quote {
    float: left;
    width: 1000px;
    height: auto;
    display: inline-block;
    background-color: black;
    margin-right: 30px;
}

.pctr {
    float: left;
    display: inline-block;

}

.author {
    float: right;
    margin-right: 300px;
    color: white;
}


.next {
    margin-top: 300px;
}

.ray {
    font-size: 20px;
}

.next1 {
    margin-top: 400px;
}

.linkback {
    float: left;
    color: white;
    font-size: 50px;
    margin-left: 500px;
}

.linkback:hover {
    color: rgba(69, 69, 69, .9)
}

.author:hover {
    color: rgba(69, 69, 69, .9)
}
