@font-face {
    font-family: Didact Gothic;
    src:url(../fonts/DidactGothic.ttf);
}
body {
    background-image: url(../img/face-bg.jpg);
    background-size: cover;
    font-family: Didact Gothic;
    color: white;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}

.text {
    font-size: 20px;
    float: right;
    width: 700px;
    height: auto;
}

a {
    color: white;
    font-size: 40px;
    text-decoration: none;

}

a:hover {
    color: rgba(0, 0, 0, .8)
}

.linkback {
    margin-top: 200px;
    margin-left: 1000px;
    float: left;
}
