@font-face {
    font-family: Didact Gothic;
    src: url(../fonts/DidactGothic.ttf);
}

body {
    margin: 0;
    font-family: Didact Gothic;
    background-image: url(../img/face-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgba(69, 69, 69, .9)
}

div {
    padding-top: 50px;
    float: right;
    width: 800px;
    font-size: 25px;
}

.linkback {
    padding-top: 150px;
    padding-left: 250px;
    float: left;
    color: white;
    font-size: 50px;
}

.linkback:hover {
    color: rgba(0, 0, 0, .9)
}
